---
import { profileConfig } from '../config'
---

<div
	class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"
>
</div>
<div
	class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6"
>
	<div class="transition text-50 text-sm">
		© 2024 {profileConfig.name}. All Rights Reserved.
	</div>
</div>
