---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import Main from "./Main.astro";

export interface Props {
	frontmatter: {
		title: string;
		description?: string;
	};
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
	<Header activeNav="about" />
	<Main pageTitle="About">
		<slot />
	</Main>
	<Footer />
</Layout>
